@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  min-width: 300px;
  max-width: 750px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  gap: 45px;
  position: relative;
}

button {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  padding: 20px 20px 0 20px;
  gap: 10px;
}

.nav-left {
  display: flex;
  gap: 10px;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.logout-button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  color: #000;
  font-weight: 700;
  border: 1px solid #d9d9d9;
}

.nav-item:hover {
  background-color: #ececec;
}

.nav-item {
  text-decoration: none;
  padding: 8px 20px;
  color: #000;
  min-width: max-content;
  border: 1px solid #d9d9d9;
}

.active-nav-item {
  font-weight: 700;
  background-color: #ececec;
  /* border-bottom: 3px solid #d9d9d9; */
}

.today-main,
.drafts-main,
.all-messages-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px 20px 20px;
}

.today-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.today-date-container .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}

.today-date-container .today-date {
  min-width: fit-content;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-summary-wrapper {
  position: relative;
}

.message-summary {
  /* display: grid;
  grid-template-columns: 10% 80% 10%; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
}

.more-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

a.message-summary {
  text-decoration: none;
  color: #000;
}

.message-summary .left .status-icon {
  width: 28px;
  height: 28px;
  background-color: #ececec;
  border-radius: 50%;
}

.message-summary .center {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.message-summary .center .title {
  font-weight: 700;
}

.message-summary .center .bottom {
  display: flex;
  gap: 20px;
}

.more-options {
  display: none;
}

.primary-button {
  font-family: "Poppins", sans-serif;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  background-color: #000;
  width: max-content;
  cursor: pointer;
}

.schedule-message-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 700;
  color: #fff;
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 20px 40px 0;
}

.schedule-message-button .label {
  /* padding: 10px; */
  display: none;
}

.schedule-message-button .add-icon {
  /* background-color: #000; */
  /* padding: 10px; */
  display: flex;
}

.message-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px 20px 20px;
}

.message-details .title-edit-time-recipient {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-details .title {
  font-weight: 700;
}

.message-details .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-details .top-bar .right-buttons {
  display: flex;
  gap: 8px;
}

.message-details .top-bar .edit-icon,
.message-details .top-bar .delete-icon,
.message-details .top-bar .previous-page-icon {
  color: #616161;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.message-details .top-bar .edit-icon:hover,
.message-details .top-bar .delete-icon:hover,
.message-details .top-bar .previous-page-icon:hover {
  background-color: #d9d9d9;
}

.message-details .title-edit .top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  gap: 10px;
}

.message-details .body {
  border: 1px solid #616161;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message-details .body .title-time-recipient {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message-details .time-recipient {
  color: #616161;
  display: flex;
  gap: 8px;
  font-size: 12px;
}

.message-details .body .text {
  font-family: "Poppins", sans-serif;
  line-height: 28px;
}
textarea#body {
  font-family: "Poppins", sans-serif;
}

.message-details .next-back-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.message-details .next-back-buttons .back-button,
.message-details .next-back-buttons .next-button {
  color: #616161;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.message-details .next-back-buttons .back-button:hover,
.message-details .next-back-buttons .next-button:hover {
  background-color: #d9d9d9;
}

.message-details .next-back-buttons .back-button .label,
.message-details .next-back-buttons .next-button .label {
  display: none;
  font-weight: 700;
}

.message-details .next-back-buttons .back-button .back-arrow-icon,
.message-details .next-back-buttons .next-button .next-arrow-icon {
  display: flex;
}
.hide-component {
  display: none;
}

.schedule-message-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px 20px 20px;
}

.schedule-message-form label {
  padding-bottom: 5px;
}

.schedule-message-form .required-label-text {
  color: #afafaf;
}

.schedule-message-form input,
.schedule-message-form textarea {
  font-size: 14px;
  border: 1px solid #afafaf;
  padding: 10px;
}

.schedule-message-form .recipient {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-message-form .recipient .to-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .recipient .method-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .recipient .method-field .method-options {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 15px;
}

.schedule-message-form .recipient .method-field .method-options div {
  display: flex;
  gap: 5px;
}

.schedule-message-form .recipient .method-field .method-options div label {
  padding: 0;
}

.schedule-message-form .recipient .email-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-message-form .title-field,
.schedule-message-form .body-field,
.schedule-message-form .from-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-message-form .date .date-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-message-form .date .day-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .date .time-field {
  display: flex;
  flex-direction: column;
}

.schedule-message-form .recipient h2,
.schedule-message-form .message h2,
.schedule-message-form .date h2 {
  font-size: 14px;
}

.schedule-message-form .schedule-message-buttons button {
  font-size: 14px;
}

.schedule-message-form input {
  height: 40px;
}

.schedule-message-form .recipient .method-field .method-options input {
  height: auto;
}

.schedule-message-form .schedule-message-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-message-form .schedule-message-buttons button {
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #fff;
  cursor: pointer;
}

.schedule-message-form .schedule-message-buttons .schedule-button {
  color: #fff;
  background-color: #000;
}

.schedule-message-form .schedule-message-buttons .cancel-button {
  /* color: #fff; */
  /* background-color: #000; */
  border: 1px solid transparent;
}

.disabled-button {
  cursor: not-allowed !important;
}

.main {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.main .sub-head,
.login .sub-head {
  color: #afafaf;
}

.main .primary-button {
  font-size: 14px;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 30px;
  background-color: #ececec;
  width: 100%;
  padding: 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.login-button {
  background-color: #fff;
  color: #000;
  width: 100%;
  border: 1px solid #d9d9d9;
}

@media (min-width: 600px) {
  .more-icon {
    display: none;
  }
  .more-options {
    display: none;
    gap: 8px;
    position: absolute;
    top: 12px;
    right: 20px;
  }

  .more-options .edit-icon,
  .more-options .delete-icon {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: #616161;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
  }

  .more-options .edit-icon:hover,
  .more-options .delete-icon:hover,
  .more-options .edit-icon:focus,
  .more-options .delete-icon:focus {
    background-color: #d9d9d9;
    border-radius: 50%;
  }

  .message-summary-wrapper:hover .message-summary,
  .message-summary-wrapper:focus-within .message-summary {
    border: 1px solid #000;
  }

  .message-summary-wrapper:hover .more-options,
  .message-summary-wrapper:focus-within .more-options {
    display: flex;
  }

  .schedule-message-button {
    padding: 10px 20px;
    border-radius: 0;
  }
  .schedule-message-button .label {
    display: flex;
  }

  .schedule-message-button .add-icon {
    display: none;
  }

  .message-details .next-back-buttons .back-button,
  .message-details .next-back-buttons .next-button {
    gap: 5px;
  }

  .schedule-message-form .schedule-message-buttons {
    flex-direction: row-reverse;
  }
}
