@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 45px;
  position: relative;
}

nav{
  display: flex;
  overflow-y: auto;
}

.nav-item{
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 700;
  color: #000;
  min-width: max-content;
}

.active-nav-item{  
  background-color: #D9D9D9;
}


.message-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-summary-wrapper{
  position: relative;
}

.message-summary{
  /* display: grid;
  grid-template-columns: 10% 80% 10%; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border: 1px solid black;
}

.more-icon{
  position: absolute;
  top: 20px;
  right: 20px;
}

a.message-summary{
  text-decoration: none;
  color: #000;
}

.message-summary .left .status-icon{
  width: 28px;
  height: 28px;
  background-color: #D9D9D9;
  border-radius: 50%;
}

.message-summary .center{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap:10px;
}

.message-summary .center .title{
  font-weight: 700;
}

.message-summary .center .bottom{
  display: flex;
  gap:20px;
}

.more-options{
  display: none;
}

.schedule-message-button{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 700;
  color: #fff;
  position: fixed;
  bottom: 0;
  align-self: flex-end;
  /* right: auto; */
  padding: 20px 0px 40px 20px;
}

.schedule-message-button .label{
  background-color: #000;
  padding: 10px;
  display: none;
}

.schedule-message-button .add-icon{
  background-color: #000;
  padding: 10px;
  display: flex;
  border-radius: 50%;
}


@media (min-width: 600px) {
  .message-summary .right .more-options{
    display: flex;
  }
  .more-icon{
    display: none;
  }
  .more-options{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .schedule-message-button .label{
    display: flex;
  }

  .schedule-message-button .add-icon{
    display: none;
  }
}